.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/vcvv-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 470px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 400;
  font-family: Montserrat, sans-serif;
  width: 770px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 388px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 297px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.25rem;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 510px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 321px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 591px;
}

.u-section-2 .u-text-1 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.25rem;
  margin: 40px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 20px 24px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
  }
}.u-section-3 {
  background-image: none;
  min-height: 1275px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  background-image: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 900;
  margin: 88px 200px 0;
}

.u-section-3 .u-shape-1 {
  height: 200px;
  margin: 168px auto 0 0;
}

.u-section-3 .u-list-1 {
  min-height: 965px;
  grid-template-rows: repeat(2, auto);
  height: auto;
  width: 1140px;
  margin: -324px auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(50% - 12px);
  grid-template-columns: repeat(2, calc(50% - 12px));
  grid-auto-rows: calc(50% - 12px);
  grid-gap: 24px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-3 .u-image-1 {
  width: 229px;
  height: 229px;
  background-image: url("images/jalisha.jpeg");
  background-position: 50% 50%;
  margin: 51px auto 0 0;
}

.u-section-3 .u-group-1 {
  width: 257px;
  min-height: 246px;
  margin: -229px 0 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 0 20px 25px;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 21px 0 0;
}

.u-section-3 .u-image-2 {
  width: 41px;
  height: 41px;
  margin: -72px auto 0 15px;
}

.u-section-3 .u-image-3 {
  width: 41px;
  height: 41px;
  margin: -41px auto 0 67px;
}

.u-section-3 .u-image-4 {
  width: 41px;
  height: 41px;
  margin: -41px auto 0 174px;
}

.u-section-3 .u-image-5 {
  width: 41px;
  height: 41px;
  margin: -41px auto 0 121px;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 40px;
}

.u-section-3 .u-image-6 {
  width: 229px;
  height: 229px;
  background-image: url("images/erica.jpeg");
  background-position: 50% 50%;
  margin: 51px auto 0 0;
}

.u-section-3 .u-group-2 {
  width: 257px;
  min-height: 246px;
  margin: -229px 0 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 0 20px 25px;
}

.u-section-3 .u-text-5 {
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-7 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 21px 0 0;
}

.u-section-3 .u-image-7 {
  width: 41px;
  height: 41px;
  margin: -72px auto 0 15px;
}

.u-section-3 .u-image-8 {
  width: 41px;
  height: 41px;
  margin: -41px auto 0 67px;
}

.u-section-3 .u-image-9 {
  width: 41px;
  height: 41px;
  margin: -41px auto 0 174px;
}

.u-section-3 .u-image-10 {
  width: 41px;
  height: 41px;
  margin: -41px auto 0 121px;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 40px;
}

.u-section-3 .u-image-11 {
  width: 229px;
  height: 229px;
  background-image: url("images/profile.jpg");
  background-position: 50% 50%;
  margin: 51px auto 0 0;
}

.u-section-3 .u-group-3 {
  width: 257px;
  min-height: 246px;
  margin: -229px 0 0 auto;
}

.u-section-3 .u-container-layout-6 {
  padding: 0 0 20px 25px;
}

.u-section-3 .u-text-8 {
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-10 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 21px 0 0;
}

.u-section-3 .u-image-12 {
  width: 41px;
  height: 41px;
  margin: -72px auto 0 15px;
}

.u-section-3 .u-image-13 {
  width: 41px;
  height: 41px;
  margin: -41px auto 0 67px;
}

.u-section-3 .u-image-14 {
  width: 41px;
  height: 41px;
  margin: -41px auto 0 174px;
}

.u-section-3 .u-image-15 {
  width: 41px;
  height: 41px;
  margin: -41px auto 0 121px;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px 40px;
}

.u-section-3 .u-image-16 {
  width: 229px;
  height: 229px;
  background-image: url("images/julia.jpeg");
  background-position: 50% 50%;
  margin: 51px auto 0 0;
}

.u-section-3 .u-group-4 {
  width: 257px;
  min-height: 246px;
  margin: -229px 0 0 auto;
}

.u-section-3 .u-container-layout-8 {
  padding: 0 0 20px 25px;
}

.u-section-3 .u-text-11 {
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-12 {
  font-weight: 700;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-13 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 21px 0 0;
}

.u-section-3 .u-image-17 {
  width: 41px;
  height: 41px;
  margin: -72px auto 0 15px;
}

.u-section-3 .u-image-18 {
  width: 41px;
  height: 41px;
  margin: -41px auto 0 67px;
}

.u-section-3 .u-image-19 {
  width: 41px;
  height: 41px;
  margin: -41px auto 0 174px;
}

.u-section-3 .u-image-20 {
  width: 41px;
  height: 41px;
  margin: -41px auto 0 121px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-list-1 {
    min-height: 545px;
    width: 940px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-3 .u-image-1 {
    width: 183px;
    height: 183px;
  }

  .u-section-3 .u-group-1 {
    width: 200px;
    min-height: 248px;
    margin-top: -183px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-3 .u-image-6 {
    width: 183px;
    height: 183px;
  }

  .u-section-3 .u-group-2 {
    width: 200px;
    min-height: 248px;
    margin-top: -183px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-3 .u-image-11 {
    width: 183px;
    height: 183px;
  }

  .u-section-3 .u-group-3 {
    width: 200px;
    min-height: 248px;
    margin-top: -183px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-3 .u-image-16 {
    width: 183px;
    height: 183px;
  }

  .u-section-3 .u-group-4 {
    width: 200px;
    min-height: 248px;
    margin-top: -183px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 79px;
    margin-right: 79px;
  }

  .u-section-3 .u-shape-1 {
    height: 800px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
    min-height: 965px;
    margin-top: -924px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: repeat(1, 100%);
    grid-auto-rows: calc(25% - 18px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-1 {
    width: 243px;
    height: 243px;
  }

  .u-section-3 .u-group-1 {
    width: 397px;
    margin-top: -243px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-6 {
    width: 243px;
    height: 243px;
  }

  .u-section-3 .u-group-2 {
    width: 397px;
    margin-top: -243px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-11 {
    width: 243px;
    height: 243px;
  }

  .u-section-3 .u-group-3 {
    width: 397px;
    margin-top: -243px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-16 {
    width: 243px;
    height: 243px;
  }

  .u-section-3 .u-group-4 {
    width: 397px;
    margin-top: -243px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-image-1 {
    width: 214px;
    height: 214px;
  }

  .u-section-3 .u-group-1 {
    width: 257px;
    margin-top: -214px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-image-6 {
    width: 214px;
    height: 214px;
  }

  .u-section-3 .u-group-2 {
    width: 257px;
    margin-top: -214px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-3 .u-text-5 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-image-11 {
    width: 214px;
    height: 214px;
  }

  .u-section-3 .u-group-3 {
    width: 257px;
    margin-top: -214px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
  }

  .u-section-3 .u-text-8 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-9 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-image-16 {
    width: 214px;
    height: 214px;
  }

  .u-section-3 .u-group-4 {
    width: 257px;
    margin-top: -214px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
  }

  .u-section-3 .u-text-11 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-12 {
    font-size: 1.125rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    width: 255px;
    height: 255px;
  }

  .u-section-3 .u-group-1 {
    min-height: 230px;
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-3 {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25rem;
  }

  .u-section-3 .u-image-6 {
    width: 255px;
    height: 255px;
  }

  .u-section-3 .u-group-2 {
    min-height: 230px;
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-5 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-6 {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25rem;
  }

  .u-section-3 .u-image-11 {
    width: 255px;
    height: 255px;
  }

  .u-section-3 .u-group-3 {
    min-height: 230px;
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-8 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-9 {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25rem;
  }

  .u-section-3 .u-image-16 {
    width: 255px;
    height: 255px;
  }

  .u-section-3 .u-group-4 {
    min-height: 230px;
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-11 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-12 {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 807px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 42px 395px 0 300px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 64px 0 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 420px;
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 130px;
  width: 130px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 100;
  margin: 20px 37px 0 36px;
}

.u-section-4 .u-text-3 {
  margin-left: 0;
  margin-right: 2px;
  margin-top: 20px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 420px;
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 100;
  margin: 20px 53px 0 52px;
}

.u-section-4 .u-text-5 {
  margin: 20px 2px 0 0;
}

.u-section-4 .u-icon-2 {
  height: 130px;
  width: 130px;
  background-image: none;
  color: rgb(92, 125, 142) !important;
  margin: 20px auto 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 446px;
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 130px;
  width: 130px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-4 .u-text-6 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 100;
  margin: 20px 10px 0 9px;
}

.u-section-4 .u-text-7 {
  margin: 20px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 733px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 200px;
    margin-right: 295px;
    width: 350px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 2px;
    margin-right: 3px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 346px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 19px;
    margin-right: 20px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 368px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 487px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 90px;
    margin-right: 185px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 60px;
    margin-left: 0;
    margin-right: 95px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1351px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-right: 0;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 158px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-5 {
  background-image: url("images/f-min.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 952px;
}

.u-section-5 .u-group-1 {
  width: 535px;
  min-height: 836px;
  margin: 58px auto 0 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 45px 30px 30px;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 7px;
  line-height: 1;
  font-weight: 400;
  margin: 134px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 12px 0 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  text-shadow: 2px 2px 8px rgba(41,51,49,0.4);
  margin: 30px 0 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 605px;
  min-height: 836px;
  margin: -836px 0 58px auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 104px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 409px;
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-5 .u-icon-1 {
  height: 75px;
  width: 75px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-4 {
  margin: 20px 1px 0;
}

.u-section-5 .u-text-5 {
  line-height: 1.8;
  font-style: italic;
  margin: 20px 2px 0 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 395px;
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-5 .u-icon-2 {
  height: 75px;
  width: 75px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-6 {
  margin: 25px 2px 0 0;
}

.u-section-5 .u-text-7 {
  line-height: 1.8;
  font-style: italic;
  margin: 16px 2px 0 0;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 384px;
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-5 .u-icon-3 {
  height: 75px;
  width: 75px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-8 {
  margin: 20px -19px 0 0;
}

.u-section-5 .u-text-9 {
  line-height: 1.8;
  font-style: italic;
  margin: 20px 2px 0 0;
}

.u-section-5 .u-layout-cell-5 {
  min-height: 378px;
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-5 .u-icon-4 {
  height: 75px;
  width: 75px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-10 {
  margin: 20px 7px 0 0;
}

.u-section-5 .u-text-11 {
  line-height: 1.8;
  font-style: italic;
  margin: 20px 2px 0 0;
}

.u-section-5 .u-layout-cell-6 {
  min-height: 104px;
}

.u-section-5 .u-container-layout-7 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    width: 441px;
  }

  .u-section-5 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 499px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1421px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 60px;
    min-height: 453px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 12px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 345px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 345px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 345px;
  }

  .u-section-5 .u-icon-3 {
    margin-left: 11px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 345px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1042px;
  }

  .u-section-5 .u-layout-wrap-1 {
    min-height: 1000px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 186px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 186px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 836px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-5 .u-layout-wrap-1 {
    min-height: 862px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 213px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-4 {
    padding-right: 35px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 0;
  }

  .u-section-5 .u-text-7 {
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-8 {
    margin-right: 0;
  }

  .u-section-5 .u-text-9 {
    margin-right: 0;
  }

  .u-section-5 .u-text-10 {
    margin-right: 0;
  }

  .u-section-5 .u-text-11 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 213px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }
}