.grid-container {
  display: flex;
  flex-direction: row;
}
.text-body {
  margin: 1vh 1vw
}
.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 664px;
}

.u-section-1 .u-group-1 {
  width: 1082px;
  min-height: 619px;
  margin: 59px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 16px;
}

.u-section-1 .u-text-1 {
  font-size: 3.73684rem;
  animation-duration: 1000ms;
  margin: 30px 192px 0 20px;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  animation-duration: 1000ms;
  margin: 20px 0 0 20px;
}

.u-section-1 .u-icon-1 {
  height: 51px;
  width: 51px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  animation-duration: 1000ms;
  margin: 38px auto 0 500px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 916px;
  }

  .u-section-1 .u-group-1 {
    margin-bottom: 46px;
    min-height: 811px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 127px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 28px;
    margin-right: 127px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 85px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .grid-container {
    display: flex;
    flex-direction: column;
  }
  .u-section-1 .u-sheet-1 {
    min-height: 710px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 32px;
    margin-bottom: 32px;
    min-height: 646px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-right: 32px;
    margin-left: 13px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 32px;
    margin-left: 320px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 36px;
    margin-bottom: 36px;
    min-height: 558px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 8px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.26316rem;
    margin-right: 17px;
    margin-left: 9px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.894737rem;
    margin-right: 17px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 28px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {

  .u-section-1 .u-sheet-1 {
    min-height: 466px;
  }

  .u-section-1 .u-group-1 {
    margin-bottom: 20px;
    min-height: 410px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 11px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.52632rem;
    margin-top: 12px;
    margin-right: 6px;
    margin-left: -5px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.631579rem;
    margin-top: 16px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 16px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 566px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 57px;
  margin-bottom: 57px;
}

.u-section-2 .u-image-1 {
  background-image: url("images/c711b9a56700bd1c8b0294e95256ec28.jpeg");
  min-height: 502px;
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 502px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  animation-duration: 1000ms;
  margin: 0 6px;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  animation-duration: 1000ms;
  margin: 32px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-2 .u-image-1 {
    min-height: 437px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 564px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 30px;
    margin-right: 23px;
    margin-left: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 646px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 35px;
  }

  .u-section-2 .u-image-1 {
    min-height: 604px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 604px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 48px;
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 27px;
  }

  .u-section-2 .u-image-1 {
    min-height: 193px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 289px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -30px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 0;
    margin-left: 9px;
    margin-right: 9px;
    position: relative;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 402px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 35px;
  }

  .u-section-2 .u-image-1 {
    min-height: 131px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 263px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 6px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.736842rem;
    margin-top: 6px;
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 868px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 400;
  animation-duration: 1000ms;
  margin: 50px -60px 0;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  animation-duration: 1000ms;
  margin: 12px -140px 0 -80px;
}

.u-section-3 .u-list-1 {
  min-height: 411px;
  grid-template-rows: repeat(1, auto);
  width: 1023px;
  height: auto;
  margin: 37px 51px 60px 66px;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(50% - 15px);
  grid-template-columns: repeat(2, calc(50% - 15px));
  grid-auto-rows: 100%;
  grid-gap: 30px;
}

.u-section-3 .u-list-item-1 {
  background-image: linear-gradient(#3d4e61, #292e33);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  margin: 0 1px;
}

.u-section-3 .u-text-4 {
  font-style: italic;
  font-size: 1rem;
  margin: 20px 1px 0;
}

.u-section-3 .u-list-item-2 {
  background-image: linear-gradient(#3d4e61, #292e33);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  font-size: 2.26316rem;
  font-weight: 400;
  margin: 0 1px;
}

.u-section-3 .u-text-6 {
  font-style: italic;
  font-size: 1rem;
  /* margin: 20px 1px 0; */
  margin: 0 1px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 765px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    font-size: 0.736842rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    /* font-size: 0.736842rem; */
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 887px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 51px;
  }

  .u-section-3 .u-list-1 {
    min-height: 600px;
    margin-top: 36px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
    grid-auto-rows: calc(50% - 15px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 942px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 30px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 2px;
  }

  .u-section-3 .u-list-1 {
    min-height: 732px;
    margin-top: 20px;
    margin-bottom: 30px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1096px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 53px;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.736842rem;
    margin-top: 0;
  }

  .u-section-3 .u-list-1 {
    min-height: 903px;
    margin-top: 22px;
    margin-bottom: 40px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 17px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 12px;
  }

  .u-section-3 .u-text-4 {
    font-size: 0.631579rem;
    width: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 17px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.5rem;
    margin-top: 12px;
  }

  .u-section-3 .u-text-6 {
    font-size: 0.631579rem;
    width: auto;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 214px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  font-size: 4.52632rem;
  animation-duration: 1000ms;
  margin: 60px 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 122px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 108px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 40px;
    margin-bottom: 6px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 101px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    font-size: 1.52632rem;
    margin-top: 35px;
    margin-bottom: 35px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 778px;
}

.u-section-5 .u-video-1 {
  height: 545px;
  width: 968px;
  animation-duration: 1000ms;
  margin: 26px auto 0;
}

.u-section-5 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.u-section-5 .u-text-1 {
  animation-duration: 1000ms;
  margin: 38px 256px 60px 204px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 856px;
  }

  .u-section-5 .u-video-1 {
    height: 623px;
    width: 940px;
  }

  .u-section-5 .u-text-1 {
    width: 680px;
    margin-left: 104px;
    margin-right: 156px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 799px;
  }

  .u-section-5 .u-video-1 {
    width: 720px;
  }

  .u-section-5 .embed-responsive-1 {
    width: 178%;
    height: 178%;
    left: -39%;
    top: -39%;
  }

  .u-section-5 .u-text-1 {
    margin-right: 40px;
    margin-bottom: 52px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 510px;
  }

  .u-section-5 .u-video-1 {
    height: 300px;
    margin-top: 50px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .embed-responsive-1 {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0%;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 20px;
    margin-right: 0;
    margin-bottom: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 386px;
  }

  .u-section-5 .u-video-1 {
    height: 190px;
    margin-top: 98px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    margin: -52px -401px 1px 400px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 843px;
}

.u-section-6 .u-slider-1 {
  min-height: 673px;
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-6 .u-carousel-indicators-1 {
  position: absolute;
  width: 108px;
  height: 3px;
  top: auto;
  bottom: 61px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-6 .u-text-1 {
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-6 .u-text-2 {
  font-size: 1rem;
  animation-duration: 1000ms;
  margin: 21px 0 0;
}

.u-section-6 .u-shape-1 {
  margin: 29px auto 0;
}

.u-section-6 .u-group-1 {
  width: 282px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  min-height: 380px;
  margin: 0 auto 0 40px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-3 {
  background-image: none;
  font-size: 1rem;
  margin: 0;
}

.u-section-6 .u-group-2 {
  width: 282px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  min-height: 380px;
  margin: -375px auto 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-text-4 {
  font-size: 1rem;
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-6 .u-group-3 {
  width: 282px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  min-height: 380px;
  margin: -384px 34px 0 auto;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-text-5 {
  font-size: 1rem;
  animation-duration: 1000ms;
  margin: 0 -10px 0 10px;
}

.u-section-6 .u-text-6 {
  animation-duration: 1000ms;
  margin: -201px 674px 0 332px;
}

.u-section-6 .u-text-7 {
  animation-duration: 1000ms;
  margin: -32px 329px 0 677px;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px 50px;
}

.u-section-6 .u-text-8 {
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-6 .u-text-9 {
  font-size: 1rem;
  animation-duration: 1000ms;
  margin: 20px 0 0;
}

.u-section-6 .u-image-1 {
  width: 364px;
  height: 282px;
  animation-duration: 1000ms;
  margin: 35px auto 0;
}

.u-section-6 .u-carousel-control-1 {
  width: 56px;
  height: 56px;
  left: 0;
  position: absolute;
  right: auto;
}

.u-section-6 .u-carousel-control-2 {
  width: 56px;
  height: 56px;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 758px;
  }

  .u-section-6 .u-slider-1 {
    min-height: 677px;
    height: auto;
    margin-bottom: 31px;
  }

  .u-section-6 .u-group-1 {
    width: 219px;
    min-height: 283px;
    margin-left: 26px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-bottom: 26px;
  }

  .u-section-6 .u-text-3 {
    font-size: 0.736842rem;
    margin-top: 2px;
  }

  .u-section-6 .u-group-2 {
    width: 219px;
    min-height: 283px;
    margin-top: -283px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    font-size: 0.736842rem;
  }

  .u-section-6 .u-group-3 {
    width: 219px;
    min-height: 283px;
    margin-top: -276px;
    margin-right: 38px;
  }

  .u-section-6 .u-text-5 {
    font-size: 0.736842rem;
    width: auto;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-top: -166px;
    margin-right: 547px;
    margin-left: 260px;
  }

  .u-section-6 .u-text-7 {
    width: auto;
    margin-top: -28px;
    margin-right: 271px;
    margin-left: 536px;
  }

  .u-section-6 .u-image-1 {
    height: 281px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 775px;
  }

  .u-section-6 .u-slider-1 {
    min-height: 648px;
    margin-bottom: 60px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-group-1 {
    width: 90%;
    /* min-height: 237px; */
    margin-top: -8px;
    margin-left: 24px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    font-size: 0.631579rem;
    margin-top: 3px;
    margin-left: -8px;
    margin-right: -8px;
  }

  .u-section-6 .u-group-2 {
    width: 175px;
    min-height: 237px;
    margin-top: -232px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-bottom: 29px;
  }

  .u-section-6 .u-text-4 {
    font-size: 0.631579rem;
    margin-left: -7px;
    margin-right: -7px;
  }

  .u-section-6 .u-group-3 {
    width: 176px;
    min-height: 247px;
    margin-top: -242px;
    margin-right: 29px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-bottom: 27px;
  }

  .u-section-6 .u-text-5 {
    font-size: 0.631579rem;
    margin-left: -15px;
    margin-right: -15px;
  }

  .u-section-6 .u-text-6 {
    margin-top: -142px;
    margin-right: 423px;
    margin-left: 204px;
  }

  .u-section-6 .u-text-7 {
    margin-right: 210px;
    margin-left: 418px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 886px;
  }

  .u-section-6 .u-slider-1 {
    min-height: 801px;
    margin-bottom: 35px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-group-1 {
    width: 444px;
    min-height: 113px;
    margin-left: auto;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 0;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-6 .u-group-2 {
    width: 444px;
    min-height: 117px;
    margin-top: 54px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
  }

  .u-section-6 .u-text-4 {
    margin-right: -4px;
    margin-left: -10px;
  }

  .u-section-6 .u-group-3 {
    width: 444px;
    min-height: 117px;
    margin-top: 50px;
    margin-right: auto;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 4px;
    margin-left: 10px;
  }

  .u-section-6 .u-text-6 {
    margin-top: -345px;
    margin-right: 241px;
    margin-left: 247px;
  }

  .u-section-6 .u-text-7 {
    width: 32px;
    margin-top: 143px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-8 {
    width: auto;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-6 .u-text-9 {
    font-size: 0.736842rem;
    width: auto;
    margin-top: 25px;
    margin-left: 45px;
    margin-right: 45px;
  }

  .u-section-6 .u-image-1 {
    width: 431px;
    height: 325px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 878px;
  }

  .u-section-6 .u-slider-1 {
    min-height: 851px;
    margin-top: 0;
    margin-bottom: 27px;
  }

  .u-section-6 .u-text-2 {
    font-size: 0.736842rem;
    width: auto;
    margin-top: 22px;
  }

  .u-section-6 .u-shape-1 {
    margin-top: 28px;
  }

  .u-section-6 .u-group-1 {
    width: 237px;
    min-height: 132px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-group-2 {
    min-height: 141px;
    width: 237px;
    margin-top: 42px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-group-3 {
    width: 237px;
    min-height: 164px;
    margin-top: 39px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 17px;
    margin-right: -10px;
  }

  .u-section-6 .u-text-6 {
    margin-top: -478px;
    margin-right: 151px;
    margin-left: 137px;
  }

  .u-section-6 .u-text-7 {
    margin-top: 205px;
  }

  .u-section-6 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-9 {
    margin-left: 32px;
    margin-right: 32px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 281px;
    margin-top: -4237px;
  }
}